/* Booking Form Container */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Carattere&family=DM+Serif+Text:ital@0;1&display=swap');

.booking-form {
  width: 100%; /* Ensure it takes full width within its container */
  max-width: 450px; /* Set a max-width for the form */
  margin: 0px 0px 0px 0px; /* Align the form to the right using 'auto' for left margin */
  padding: 10px;
  background: #fff;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Arial', sans-serif;
  height: 98%;
}

/* Form Header */
.booking-form h2 {
  text-align: center;
  font-size: 65px;
  font-family: "Birthstone", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ff5700;
}

/* Input and Select Fields */
.booking-form .form-group {
  margin-bottom: 20px;
  margin-right: 20px;
}

.booking-form label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.booking-form input,
.booking-form select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.booking-form input:focus,
.booking-form select:focus {
  border-color: #ff5700;
  outline: none;
}

/* Submit Button */
.booking-form button {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: #ff5700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.booking-form button:hover {
  background: #e14e00;
}

/* Form Footer */
.booking-form .form-footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #777;
}

.booking-form .form-footer a {
  color: #ff5700;
  text-decoration: none;
}

.booking-form .form-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1180px) {
  .booking-form h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .booking-form {
    padding: 15px;
    width: 100%; /* Set to 65% on small screens */
    max-width: none; /* Remove max-width for mobile screens */
    margin: 0 auto; /* Center the form */
  }

  .booking-form h2 {
    font-size: 36px !important;
  }

  .booking-form input,
  .booking-form select,
  .booking-form button {
    font-size: 1rem;
    padding: 12px; /* Slightly larger padding for touch interactions */
  }

  .booking-form .form-group {
    margin-bottom: 15px;
  }

  .booking-form button {
    padding: 15px; /* Larger button padding for smaller screens */
  }

  .booking-form .form-footer {
    font-size: 0.8rem;
  }
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .booking-form {
    padding: 15px;
    width:100%; /* Set to 65% on small screens */
    max-width: none; /* Remove max-width for mobile screens */
    margin: 0 auto; /* Center the form */
  }
}