/* Base Styling for the Images */
.masonry__img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.masonry__img:hover {
  transform: scale(1.05); /* Add zoom-in effect */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Popup Styles */
.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  overflow: hidden;
}

.popup-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #333;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure consistent gutter behavior */
.masonry {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.image-gallery-wrapper {
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .image-gallery-wrapper {
    padding: 10px;
  }
}