@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");

.common__section {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45));
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.common__section h1 {
    font-family: "Island Moments", serif;
    font-weight: 400;
    font-size: 76px;
    font-style: normal;
    color: #ffffff;
}