/* Image Carousel Container */
.image-carousel-container {
  width: 100%;
  max-width: 1500px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px;
  background: url('/public/img/center.svg'); /* Apply gradient and background image */
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
}

.gallery-heading {
  background: #faa935;
  font-family: "Island Moments", cursive;
  padding: 0px 1.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 2.2rem;
  color: #0b1a27;

  text-align: center;
  width: max-content;

  margin-left: 3rem; /* Adds space to the left of the entire element, moving it to the right */
}

.section-subtitle {
  font-size: 1.5rem;  
  margin-top: 0px;
  font-family: "Carattere", serif;
  font-weight: 400;
  color: rgb(43, 147, 226);
  font-style: normal;
  font-size: 36px;
  margin-bottom: 20px;
  padding-right: 1rem;
  font-weight: 300;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 3rem; /* Adds space to the left of the entire element, moving it to the right */
}

/* Carousel Styling */
.image-carousel {
  display: flex;
  transition: transform 1s ease-in-out; /* Smooth transition for sliding */
}

.carousel-image {
  width: 600px;  /* Ensure all images have the same width */
  height: 300px; /* Ensure all images have the same height */
  object-fit: cover; /* Ensure images maintain aspect ratio */
  cursor: pointer;
  margin: 0px; /* Add space between images */
}

/* Active image to display in carousel */
.carousel-image.active {
  transform: scale(1.05); /* Slight zoom on the active image */
}

/* Modal */
.image-carousel-modal {
  position: relative; /* No fixed positioning */
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: hidden;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Overlay */
.image-carousel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Image slider */
.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Slider image */
.slider-image {
  width: 100%;
  max-width: 100%; /* Limit the width to 100% */
  height: auto; /* Maintain the aspect ratio */
  max-height: 400px; /* Uniform max height for images */
  object-fit: contain; /* Ensure the whole image is visible */
  margin: 0 10px;
}

/* Close Button (Top Right) */
.close-modal-btn {
  position: fixed;
  top: 0px;
  right: 2px;
  padding: 10px;
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 2000;
}

.close-modal-btn:hover {
  color: #ff5700;
}

/* Close Button X */
.close-modal-btn:before {
  content: "×"; /* Unicode for 'X' symbol */
  font-size: 40px;
  font-weight: bold;
}

@media (max-width:900px) {
  .image-carousel-container .gallery-heading {
    margin-left: 1rem;
    font-size: 1.6rem;
  }

  .section-subtitle{
    font-size: 1.25rem;
    margin-left: 1rem;
  }
}