/* Image Carousel Container */
.image-carousel-container {
  width: 100%;
  max-width: 1500px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px;
  background: url('/public/img/textures/center.svg'); /* Apply gradient and background image */
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
}

.gallery-heading {
  background: #faa935;
  font-family: "Island Moments", cursive;
  padding: 0px 1.5rem;
  padding-right: 1rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 2.2rem;
  color: #0b1a27;
  text-align: center;
  width: max-content;
  margin-left: 3rem;
}

.section-subtitle {
  font-size: 1.5rem;
  margin-top: 0px;
  font-family: "Carattere", serif;
  font-weight: 400;
  color: rgb(43, 147, 226);
  font-style: normal;
  font-size: 36px;
  margin-bottom: 20px;
  padding-right: 1rem;
  font-weight: 300;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 3rem;
}

/* Carousel Styling */
.image-carousel {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-image {
  width: 600px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
  margin: 0px;
}

/* Active image to display in carousel */
.carousel-image.active {
  transform: scale(1.05);
}

.image-carousel-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 62vh; /* Default for large screens */
  display: block;
}

/* Overlay */
.image-carousel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Image slider */
.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Slider image */
.slider-image {
  width: 100%;
  height: auto;
  max-height: 75vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* Close Button */
.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: darkred;
}

/* Close Button X */
.close-modal-btn:before {
  content: "×";
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

@media (max-width: 900px) {
  .image-carousel-container .gallery-heading {
    margin-left: 1rem;
    font-size: 1.6rem;
  }

  .section-subtitle {
    font-size: 1.25rem;
    margin-left: 1rem;
  }

  .carousel-image {
    width: 600px;
    height: 300px;
  }
}

/* For tablets (between 901px and 768px) */
@media (max-width: 1024px) {
  .image-carousel-modal {
    max-height: 70vh
    ;
  }
}

/* For tablets (between 901px and 768px) */
@media (max-width: 900px) {
  .image-carousel-modal {
    max-height: 70vh
    ;
  }
}

/* For tablets (between 901px and 768px) */
@media (max-width: 900px) {
  .image-carousel-modal {
    max-height: 68vh;
  }
}

/* For smaller tablets & large phones (between 767px and 600px) */
@media (max-width: 769px) {
  .image-carousel-modal {
    max-height: 61vh;
  }
}

/* For mobile devices (below 600px) */
@media (max-width: 600px) {
  .image-carousel-modal {
    max-height: 34vh;
  }
}