.testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 992px){
    .testimonial__title h2{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 576px){
    testimonial__title h2{
        font-size: 1.5rem;
    }
}