@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");

.who_are_we {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  .who_are_we .container {
    max-width: 1500px;
    min-width: 1500px;
    display: flex;
  }
  .who_are_we .container .text_banner {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .who_are_we .container .text_banner .card {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    gap: 15px;
    justify-content: center;
  }

  .who_are_we .container .text_banner .card h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 200;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .who_are_we .container .text_banner .card p {
    color: #000000;
    font-size: 28px;
    font-weight: 200;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .who_are_we .container .image_banner {
    position: relative;
    flex: 2;
    display: flex;
    justify-content: center;
  }
  .who_are_we .container .image_banner img {
    width: 500px;
    height: 635px;
  }
  .who_are_we .container .image_banner .gradient_bg {
    position: absolute;
    left: -80px;
    top: 0;
  }
  @media (max-width: 1520px) {
    .who_are_we .container {
      min-width: 100%;
      padding: 20px;
    }
  }
  @media (max-width: 1180px) {
    .who_are_we .container .image_banner img {
      height: 100%;
      width: 100%;
    }
  }
  @media (max-width: 700px) {
    .who_are_we .container .image_banner {
      order: -1;
      margin-bottom: 2rem;
    }
    .who_are_we .container .text_banner {
      flex-direction: row;
    }
    .who_are_we .container {
      flex-direction: column;
    }
    .who_are_we .container .image_banner img {
      width: 400px;
    }
    .who_are_we .container .text_banner .card {
      width: 50%;
    }
  }
  @media (max-width: 400px) {
    .who_are_we .container .text_banner {
      flex-direction: column;
    }
    .who_are_we .container .text_banner .card {
      width: 100%;
      margin-bottom: 1.2rem;
    }
  }