/* home.css */

body {
  margin: 0;
  background: url("/public/img/moroccan-flower.png") repeat; /* Maintain the elegant pattern */
  background-color: #fff5e8; /* Fallback color matching the texture */
  color: #333; /* Ensure good text readability */
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.room-display-container {
  width: 78%; /* Adjust to fit the left space */
}

.booking-form-container {
  width: 22%; /* Adjust to fit the right space */
}