/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Carattere&family=DM+Serif+Text:ital@0;1&display=swap');

body {
  margin: 0;
  background: url("/public/img/textures/moroccan-flower.png") repeat; /* Maintain the elegant pattern */
  background-color: #fff5e8; /* Fallback color matching the texture */
  color: #333; /* Ensure good text readability */
}
.home{
  background: url("/public/img/textures/moroccan-flower.png") repeat;
}

/* Main Content Layout */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 0px; /* Space only between top and bottom sections */
  width: 100%;
}

/* Room Display Container (Top Row + Booking Form) */
.room-display-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure it takes full width */
  align-items: stretch;
  gap: 0px; /* Ensure no unwanted spacing */
}

@media (min-width: 900px) and (max-width: 1182px) {
  .hero-container{
    height: 90vh;
  }
}
/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .room-display-container {
    flex-direction: column;
    gap: 20px; /* Reintroduce spacing for mobile */
  }
}